

{% extends 'base.html' %}

	{% block content %}

  {% load staticfiles %}

  <style>

</style>

  <div class="apartments_background_image"></div>

  <div class="apartments_content_container" id="outer_container_apartments">


    <div class="container, apartments_div">

      <div class="row" id="top_row_apartments">


        <!-- <div class="col"> -->
          
        <!-- </div> -->
        <div class="col" id="apartments_image_div">
          <!-- <input type="link" class="btn btn-default" id="advanced_search" value="Advanced Search"> -->

          <div id="search_bar_div">

            <form action="/apartments" id="search_bar_apartments" method="get">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Search" id="search_bar_id_apartments">
                <div class="input-group-append">
                  <input type="submit" class="btn btn-primary" id="search_button_apartments" value="Search">
                </div>
              </div>
            </form>
          </div>


        </div>

      </div>
      <div class="row justify-content-md-center" id="middle_row_apartments">



        <div class="col-md-auto" id="main_col_left_apartments">

          <!--Adding Maps-->

             <div id="map"></div>
             <!-- Meg, the map script is now in static/javascript for readability sake -->
             <script src="{% static "javascript/map.js"%}"></script>

                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnnca1doBE-nE14750VNFA4VtqlLrcJZk&callback=initMap">
                </script>

        </div>
        <div class="col-md-auto" id="main_col_right_apartments">

          <div class="container, apartments_div_detail">

          {% for apartment in apartments %}

                <div class="row apartmentname">

                  <div class="col-md-auto" id="left_display" align="center">
                    <a href="{% url 'apartment_detail' apartment.id %}">
                      <img src="{{ apartment.image }}" id="apartment_thumbnail">
                    </a>
                  </div>

                  <div class="col-md-auto" id="right_display" align="center">

                    
                    <a href="{% url 'apartment_detail' apartment.id %}">
                      <h4 id="apartment_link"> {{ apartment.name|capfirst }} </h4>
                    </a>

                    <h5 id="apartment_price">{{ apartment.price }}</h5>

                    {% if user and not user.is_anonymous %}
                    <form action="{% url 'save_favorite' apartment.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-default" name="fav_apartment" id="fav_apartment{{ forloop.counter }}"> Save to Favorites </button>
                    </form>
                    {% endif %}
                    {% if user and not user.is_anonymous %}
                    <form action="{% url 'save_compare' apartment.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-default" name="compare_apartment" id="compare_apartment{{ forloop.counter }}"> Select to Compare </button>
                    </form>
                  </div>

                </div>


              {% endif %}

          {% endfor %}

          </div>

      {% if not apartments %}
            <div>
              <center>No Results.</center>
            </div>

          {% endif %}



          <div class="inner_content_div_apartments">

          </div>

              

          

        </div>
<!--        <div class="col" id="right_outer_col">
    
        </div> -->
      </div>

    </div>

  </div>


  <!-- OLD CODE STUFF -->


		<div class='gotocompare'align="right" style="...">
			<form action="{% url 'compare' %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-default" name="compare" id="gotocompare"> Go to Compare Page </button>
			</form>
		</div>



	{% endblock content %}
