{% load static %}

<!doctype html>



<html>

	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'housing_app/style.css' %}">

	</head>

	<body>
		<!-- Define the variables for which URL path app is currently on -->
		<!-- The navbar will use these to determine which tabs to highlight -->
		{% url 'home' as home_path %}
		{% url 'apartments' as apartments_path %}
		{% url 'apartment_detail' as apartment_detail_path %}
		{% url 'login' as login_path %}


		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="">Housing Search</a>
		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    		<span class="navbar-toggler-icon"></span>
		  		</button>
		  	<div class="collapse navbar-collapse" id="navbarText">
		    	<ul class="navbar-nav mr-auto">
		    	{% if home_path == request.path %}
		    		<li class="nav-item active">
		    			<a class="nav-link" href="{% url 'home' %}"> Home <span class="sr-only">(current)</span></a>
		      		</li>
		      	{% else %}
		    		<li class="nav-item">
		    			<a class="nav-link" href="{% url 'home' %}"> Home <span class="sr-only">(current)</span></a>
		      		</li>
		      	{% endif %}
		      	{% if apartments_path == request.path %}
		      		<li class="nav-item active">
		        		<a class="nav-link" href="{% url 'apartments' %}"> Apartments </a>
		      		</li>
		      	{% else %}
		      		<li class="nav-item">
		        		<a class="nav-link" href="{% url 'apartments' %}"> Apartments </a>
		      		</li>
		      	{% endif %}
				{% if favorites_path == request.path %}
		      		<li class="nav-item active">
		        		<a class="nav-link" href="{% url 'favorites' %}"> Saved Listings </a>
		      		</li>
		      	{% else %}
		      		<li class="nav-item">
		        		<a class="nav-link" href="{% url 'favorites' %}"> Saved Listings </a>
		      		</li>
		      	{% endif %}
		    	</ul>
		  	</div>
		  	{% if login_path != request.path %}
		  	<div class="navbar-nav mr-auto">
		    	<a class="nav-link" href="{% url 'login' %}"> Login <span class="sr-only">(current)</span></a>
		    </div>
		    {% endif %}
		</nav>

		{% block content %}
		{% endblock content %}



	</body>

</html>