{% extends 'base.html' %}
{% load static %}
<html>
{% block content %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style type="text/css">
#overall {
	height: 80%;
	overflow-y: scroll;
}
#content, html, body {
    height: 80%;
    width: 99%;
    margin: .1%;
    background-color: #FDFDFD;
    overflow-y: scroll;
}
#left {
    float: left;
    width: 50%;
    height: 450px;
    overflow-y: scroll;
	overflow-x: hidden;
	padding: 2%;
	/*	body {
		font-family: 'Nunito', sans-serif;
		padding: 30px;
		background: #f1f1f1;
	}*/
}
#right {
    float: left;
    width: 50%;
    height: 450px;
    overflow-y: scroll;
	overflow-x: hidden;
	padding: 2%;
	/*	body {
		font-family: 'Nunito', sans-serif;
		padding: 30px;
		background: #f1f1f1;
	}*/
}
div.table {
  background-color: #FDFDFD;
  width:100%;
  height: 80%;
  overflow-y: scroll;
}
.overall{
	height: 80%;
	overflow-y: scroll;
}
.page-link{
  color: #dc858e;
}
.page-link:hover{
  color: #dc858e;
}
.page-link:active{
  color: #dc858e;
  border-color: #dc858e;
}
.page-link:focus {
  outline: none;
  box-shadow: none;
}
.page-item.active .page-link{
  background-color: #dc858e;
  border-color: #dc858e;
}
</style>
	<div class="profile_content_container" id="outer_container">

		<div class="container">
			<div class="row" id="top_row">
				<h1 style="font-family: 'Nunito', sans-serif; color: white; position: absolute;">Compare</h1>
			</div>
<div class="row justify-content-md-center" id="middle_row">
	<div class="overall" style="width:100%; height: 80%;overflow-y:hidden;">
				<div class="col-md-auto" id="main_col" style="height: 100%">


	<div class = "apartment_detail_background"></div>
	<div class="apartment_detail_container">
		</div>

					<!--Maps-->
	 		<div id="map_detail" style="height:100%; padding: 10px; margin: 10px;">
	 		</div>
	<script>
	// Initialize and add the map
	function initMap() {
	  var apt_coordinates = {lat:38.0316282, lng: -78.4842689};
	             var map = new google.maps.Map(document.getElementById('map_detail'), { center: apt_coordinates,
	              zoom: 15,
	              styles: [
	  {
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#f5f5f5"
	      }
	    ]
	  },
	  {
	    "elementType": "labels.icon",
	    "stylers": [
	      {
	        "visibility": "off"
	      }
	    ]
	  },
	  {
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "weight": 1.5
	      }
	    ]
	  },
	  {
	    "elementType": "labels.text.stroke",
	    "stylers": [
	      {
	        "weight": 1.5
	      }
	    ]
	  },
	  {
	    "featureType": "administrative.land_parcel",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#bdbdbd"
	      }
	    ]
	  },
	  {
	    "featureType": "administrative.locality",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#ffb0b8"
	      },
	      {
	        "weight": 2
	      }
	    ]
	  },
	  {
	    "featureType": "administrative.locality",
	    "elementType": "labels.text.stroke",
	    "stylers": [
	      {
	        "color": "#dc858e"
	      },
	      {
	        "weight": 1
	      }
	    ]
	  },
	  {
	    "featureType": "landscape.man_made",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "visibility": "simplified"
	      }
	    ]
	  },
	  {
	    "featureType": "poi",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#eeeeee"
	      }
	    ]
	  },
	  {
	    "featureType": "poi",
	    "elementType": "geometry.stroke",
	    "stylers": [
	      {
	        "weight": 1.5
	      }
	    ]
	  },
	  {
	    "featureType": "poi",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#757575"
	      }
	    ]
	  },
	  {
	    "featureType": "poi.park",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#e5e5e5"
	      }
	    ]
	  },
	  {
	    "featureType": "poi.park",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#9e9e9e"
	      }
	    ]
	  },
	  {
	    "featureType": "road",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#ffffff"
	      }
	    ]
	  },
	  {
	    "featureType": "road.arterial",
	    "elementType": "geometry.fill",
	    "stylers": [
	      {
	        "weight": 3
	      }
	    ]
	  },
	  {
	    "featureType": "road.arterial",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#757575"
	      }
	    ]
	  },
	  {
	    "featureType": "road.highway",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#dadada"
	      }
	    ]
	  },
	  {
	    "featureType": "road.highway",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#616161"
	      }
	    ]
	  },
	  {
	    "featureType": "road.local",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#9e9e9e"
	      }
	    ]
	  },
	  {
	    "featureType": "transit.line",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#e5e5e5"
	      }
	    ]
	  },
	  {
	    "featureType": "transit.station",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#eeeeee"
	      }
	    ]
	  },
	  {
	    "featureType": "water",
	    "elementType": "geometry",
	    "stylers": [
	      {
	        "color": "#c9c9c9"
	      }
	    ]
	  },
	  {
	    "featureType": "water",
	    "elementType": "labels.text.fill",
	    "stylers": [
	      {
	        "color": "#9e9e9e"
	      }
	    ]
	  }
	]
	              });
	 /* geocoder = new google.maps.Geocoder();
	  var address= apartment.location; //not sure how to do this
	  geocoder.geocode( { 'address': address}, function(results, status) {
	  if (status == 'OK') {
	        map.setCenter(results[0].geometry.location);
	        var marker = new google.maps.Marker({
	            map: map,
	            position: results[0].geometry.location
	        });
	      } else {
	        alert('Geocode was not successful for the following reason: ' + status);
	      }
	    });
	  */var marker = new google.maps.Marker({position: apt_coordinates, map: map});
	}
	    </script>

				<script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnnca1doBE-nE14750VNFA4VtqlLrcJZk&callback=initMap">
	    </script>

		</div>
	</div>
<div class="container" id="main_col" style="-ms-transform: translateY(-20%); transform: translateY(-10%);">
{% if user %}
						<nav aria-label="Page navigation example" class="pagination_profile">
						  <ul class="pagination justify-content-center">
						    <li class="page-item"  ><a class="page-link" href="{% url 'profile' user %}">Info</a></li>
						    <li class="page-item"><a class="page-link" href="{% url 'reviews' user %}">Reviews</a></li>
						    <li class="page-item"><a class="page-link" href="{% url 'favorites' %}">Favorites</a></li>
						    <li class="page-item"><a class="page-link" href="{% url 'compare' %}">Compare</a></li>
						  </ul>
						</nav>
                        <ul class="pagination justify-content-end" style="margin-right:2%">
                            <li class="page-item"><a class="page-link" href="{% url 'compare' %}"> Compare Info</a></li>
                        </ul>

		{% endif %}
</div>
				</div>
	</div>

	</div>

{% endblock content %}
</html>