{% extends 'base.html' %}

	{% load static %}


	{% block content %}

	<div class="form group, outer_container">
		<img class="img-responsive" src="{% static "images/apartments.jpg" %}" height="70%" width="100%" id="home_image">

		<input class="form-control" type="text" placeholder="Search" id="home_text">


		
		<button type="button" class="centered, btn btn-secondary" id="home_signup_button">Sign Up</button>
		<button type="button" class="centered, btn btn-secondary" id="home_login_button">Login</button>
		<h1 class="text"> Welcome to UVA Housing Search </h1>

			<form action="{% url 'social:disconnect' 'google-oauth2' %}" method="post">
    	{% csrf_token %}
    	<button class="btn btn-warning btn-xs">
        	Disconnect
    	</button>
	</form>

	</div>
	{% endblock content %}
