{% extends 'base.html' %}

	{% load static %}


	{% block content %}

	<div class="home_background_image"></div>

	<div class="home_content_container">

		{% if user and not user.is_anonymous %}
			<div class="greeting_div">
				<h2 class="greeting_text"> Hello {{user.get_short_name}}!</h2>
				<h1 class="welcome_text"> Welcome to UVA Housing Search </h1>	
			</div>


		{% else %}
			<div class="greeting_div">
				<h1 class="welcome_text"> Welcome to UVA Housing Search </h1>
			</div>

		{% endif %}

			<input class="form-control" type="text" height="100%" placeholder="Search" id="home_text">

		{% if user and user.is_anonymous %}
			<div class="home_login_div">
				<h4 class="home_search_listings"> Search listings above or</h4>
				<a href="{% url 'login' %}" role="button" class="btn btn-link" id="home_login_button">Log In</a>
			</div>

		{% endif %}

		

	</div>

			<!-- Use this only for "removing" your account, will be used for testing purposes only -->
			<form action="{% url 'social:disconnect' 'google-oauth2' %}" method="post">	
    			{% csrf_token %}
    			<button class="btn btn-warning btn-xs">
        			Disconnect
    			</button>
			</form>
	
	{% endblock content %}
