{% extends "base.html" %}

	{% load static %}

	{% block content %}



		<div class= "login_container">
			<img class="img-responsive" src="{% static "images/apartment_interior.jpg" %}" height="70%" width="100%" id="login_image">
			
			<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default" id="google_login_button">Google Log In</a>



			<!-- <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a> -->
			<h1 class="text"> Please log in using your Google Account </h1>
		</div>
  

	{% endblock content %}