<!-- User Profile code From: https://bootsnipp.com/snippets/8dMr -->
{% extends "base.html" %}

	{% load static %}

	{% block content %}

	<style>
		
		.page-link{
		  color: #dc858e;
		}

		.page-link:hover{
		  color: #dc858e;
		}

		.page-link:active{
		  color: #dc858e;
		  border-color: #dc858e;
		}

		.page-link:focus {
		  outline: none;
		  box-shadow: none;
		}

		.page-item.active .page-link{
		  background-color: #dc858e;
		  border-color: #dc858e;
		}
	</style>

	<div class="profile_background_image"></div>

	<div class="profile_content_container" id="outer_container">

		<div class="container, profile_div">
			<div class="row" id="top_row">
<!-- 				<div class="col top-corners">
				
				</div> -->
				<h1 style="font-family: 'Nunito', sans-serif; color: white; position: absolute;">Reviews</h1>
			</div>
			<div class="row justify-content-md-center" id="middle_row">
<!-- 				<div class="col" id="left_outer_col">
		
				</div> -->
				<div class="col-md-auto" id="main_col">
					<!-- Checks to see if user accessing profile is the user logged in -->
					{% if user_for_page == user %}
						<h1 class="profile_name" >Your Reviews:</h1>
<!-- 						<button class="btn btn-default" id="edit_profile" name="edit_profile"> Edit Profile </button> -->

						<nav aria-label="Page navigation example" class="pagination_profile">
						  <ul class="pagination justify-content-center">
						    <li class="page-item"  ><a class="page-link" href="{% url 'profile' user_for_page %}">Info</a></li>
						    <li class="page-item active"><a class="page-link" href="#">Reviews</a></li>
<!-- 						    <li class="page-item"><a class="page-link" href="{% url 'favorites' %}">Favorites</a></li>
						    <li class="page-item"><a class="page-link" href="{% url 'compare' %}">Compare</a></li> -->
						  </ul>
						</nav>
					{% else %}
						<h1 class="profile_name">{{user_for_page.get_full_name}}'s Reviews</h1>
							<nav aria-label="Page navigation example" class="pagination_profile">
						  <ul class="pagination justify-content-center">
						    <li class="page-item"  ><a class="page-link" href="{% url 'profile' user_for_page %}">Info</a></li>
						    <li class="page-item active"><a class="page-link" href="#">Reviews</a></li>
<!-- 						    <li class="page-item"><a class="page-link" href="{% url 'favorites' %}">Favorites</a></li>
						    <li class="page-item"><a class="page-link" href="{% url 'compare' %}">Compare</a></li> -->
						  </ul>
						</nav>
					{% endif %}

					<div class="inner_content_div_reviews">

						

						{% if not reviews %}
							<p style="margin-left: 40px;">There are no reviews at this time</p>
						{% else %}
						<div style="height: 300px; width: 100%; overflow: auto; margin-bottom: 20px; justify-content: center;">

								{% for review in reviews %}
								<div class="container" style="margin-bottom:5px; background-color: white; border-radius: 10px; box-shadow: 0 0 10px #959595; width: 90%; margin-top: 10px;">
									<div class="row">
										<div class="col" style="background-color: transparent; color: black">
											<a href="{% url 'apartment_detail' review.apartment.id %}">
												<img src="{{ review.apartment.image }}" id="review_thumbnail" class="rounded-circle">
											</a>
											
											<a href="{% url 'apartment_detail' review.apartment.id %}" style="font-size: 20px; color: #666666"> {{ review.apartment}}</a>
											{% if user_for_page == user %}
											<form action="{% url 'delete_review' review.id %}" method="post">
												{% csrf_token %}
												<button class="btn btn-default" type="submit" style="position: absolute; right: 0px; top: 10px;">Delete</button>
											</form>
											{% endif %}
										</div>
									</div>
									<div class="row">
										<div class="col" style="background-color: transparent; color: black; display: inline; padding-left: 100px;">
											<p style="color: #666666">{{review.review}}</p>
											<p style="float: right; padding-right: 10px; padding-bottom: 10px; margin-bottom: 0px; color: #959595;">{{review.date}}</p>
										</div>
									</div>
								</div>

								{% endfor %}

								
						</div>
						{% endif %}

					</div>

							

					

				</div>
<!-- 				<div class="col" id="right_outer_col">
		
				</div> -->
			</div>

		</div>

	</div>





	{% endblock content %}