.wrap {
width: 100%;
}

.category {
  float:left;
  width:22%;
}
.floatleft {
    float: left;
    width: 22%;
    margin-left:0.25%
}

.floatcenter {
  float:left;
    width: 22%;
    margin-left:0.5%;
}

.floatright {
    float: left;
    width: 22%;
    margin-left:0.75%
}