.home_container {
	position: relative;
	text-align: center;
	color: white;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
}

h1.text {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#home_image {
	filter: brightness(50%);
	height: auto;
}

html, body {
	padding-top: 28px;
}

.login_div {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	text-align: center;
}


#home_text {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: gray;
	width: 30%;
}

#home_signup_button {
	position: absolute;
	top: 45%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: gray;
	background-color: white;
}

#home_login_button {
	position: absolute;
	top: 45%;
	left: 45%;
	transform: translate(-50%, -50%);
	color: gray;
	background-color: white;
}